@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

.logo {
  display: block;
  margin: 0 auto;
  margin-top: -4rem;
}

.message-error {
  border: 2px solid red;
  padding: 0.5rem;
  background-color: #ffcccc;
}

.log-in {
  float: left;
  display: block;
  color: #252537;

  width: 280px;
  height: 50px;

  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
  margin: 7% auto;
  letter-spacing: 0.05em;
}

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
      transform: translateY(3px);
  }
  100% {
      transform: translateY(5px);
  }
}

.register {
  float: right;
  display: block;
  color: #252537;

  width: 280px;
  height: 50px;

  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
  margin: 7% auto;
  letter-spacing: 0.05em;

  align-items: right;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-cancel {
  float: right;
  color: black;
}

* {
  font-family: 'Playfair Display', serif;
}

.logo {
  text-align: center;
  color: #fff;
}

nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  color: #fff;
} */


/* color card */
.quizText{
  font-size: 1.25em;
  color: white;
}

.colorPick{
  display: inline-block;

}

.control{
  color: white;
}

label {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 50px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  visibility: visible;
  background: url(./images/build/background.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover;
  animation-name: blur;
  animation-duration: 1.5s;
}

@keyframes blur {
  0% {
    filter: blur(30px);
  }
  100% {
    filter: blur(0);
  }
}
@-moz-keyframes blur {
  0% {
    filter: blur(30px);
  }
  100% {
    filter: blur(0);
  }
}
.wraper{
  width: 90%;
  height: 90%;
  display: block;
  margin: 0 auto;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  background: url(./images/build/focus.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover;
  animation-name: fadeOut;
  animation-duration: 1.5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    blur: 30px;
   }
   100% {
     opacity: 0;
   }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
   }
   97% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}


/* general card with animation for landing page */
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 10);
  border-radius: 10px;
  backdrop-filter: blur(6px);
  border: solid white 1px;
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  0% {
   opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
   }
   75% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }

/* .box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(0, 78, 52);
  text-align: center;
  background-color: #fff;
} */

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  animation: LabelOnLoad 1s forwards 0s ease;
}
@keyframes LabelOnLoad {
  0% {
    transform: rotate(0) translateY(-19px);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -19px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.box input[type="submit"]:hover {
  background-color: rgba(3, 169, 244, 0.7);
}

/* log in  card */
.log-in {
  float: left;
  display: block;
  color: #252537;

  width: 280px;
  height: 50px;

  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
  margin: 7% auto;
  letter-spacing: 0.05em;
}

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
      transform: translateY(3px);
  }
  100% {
      transform: translateY(5px);
  }
}

/* register card */
.register {
  float: right;
  display: block;
  color: #252537;

  width: 280px;
  height: 50px;

  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
  margin: 7% auto;
  letter-spacing: 0.05em;

  align-items: right;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  font-family: 'Playfair Display', serif;
}



/* navigation menu */
nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  background: #333;
}

nav li {
  list-style: none;
  display: table-cell;
  background: #333;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0.75em 1em;
  font-size: 1.25em;
}

/* nav a:hover {
  background: #888;
} */

/* size card */

.quizText{
  font-size: 1.25em;
  color: white;
}

.cardText{
  width: 90%;
  text-align: center;
  padding-bottom: 2em;
  font-size: 1em;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.birdImg{
    height: 200px;
    width: auto;
    display: block;
    margin: auto;
    border: 5px solid #fff; 
}
.birdText{
    width: 90%;
    text-align: left;
    color: white;
    padding-left: 5px;
  }

.sizePick{
  width: 90%;
  margin: 0 auto;
}

.control{
  color: white;
  display: inline-block;
  padding: 0 15px;
}
.control:hover{
  color: lightgrey;
}

@media (max-width: 720px) {
  .box {
    width: 80%;
  }
}

.btn-submit {
  float: right;
  display: block;
}

.btn-submit-bird {
    float: inline-end;
    display: block;
  }

.cardTitle{
  font-size: 3.3rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.10rem;
}

.cardQuiz{ 
  font-size: 2.3rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.145rem;
}

.cardText {
  color: #fff;
}

.footer{
    color: white;
    position: absolute;
    bottom: 0;
    right: 25px;
}

/* Image Slider */
.carousel-wrapper {
  width: 60%;
  margin: 50px auto;
  padding: 20px 20px;
  display: block;
  border: 1px solid #DDD;
  box-sizing: border-box;
  background: url(./images/build/focus.png) no-repeat center center;
  position: relative;
  background-color: grey;
}

.bg-slider-img {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  position: relative;
}

.bg-slider-img-bellbird {
  background-image: url('./images/birds/bellbird.jpg');
}

.bg-slider-img-brown-kiwi {
  background-image: url('./images/birds/brown-kiwi.jpg');
}

.bg-slider-img-kaka {
  background-image: url('./images/birds/kaka.jpg');
}

.bg-slider-img-kakapo {
  background-image: url('./images/birds/kakapo.jpg');
}

.bg-slider-img-ruru {
  background-image: url('./images/birds/ruru.jpg');
}

.bg-slider-img-tui {
  background-image: url('./images/birds/tui.jpg');
}


