/* body {
    display: flex;
  }
   */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-cancel {
  color: #fff;
}

* {
  font-family: "Fredericka the Great", cursive;
}

.logo {
  text-align: center;
  color: #fff;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  visibility: visible;
  background: url(index.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover;
  animation-name: blur;
  animation-duration: 3.5s;
}

@keyframes blur {
  0% {
    filter: blur(30px);
  }
  25% {
    filter: blur(20px)
  }
  50% {
    filter: blur(10px)
  }
  75% {
    filter: blur(5px)
  }
  100% {
    filter: blur(0);
  }
}
@-moz-keyframes blur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  border: solid white 1px;
}
.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(0, 78, 52);
  text-align: center;
  background-color: #fff;
}

.box .inputBox {
  position: relative;
}
.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  animation: LabelOnLoad 1s forwards 0s ease;
}
@keyframes LabelOnLoad {
  0% {
    transform: rotate(0) translateY(-19px);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -19px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}
.box input[type="submit"]:hover {
  background-color: rgba(3, 169, 244, 0.7);
}
@media (max-width: 720px) {
  .box {
    width: 80%;
  }
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitle{
  font-size: 3.3rem;
  color: #fff;
  text-align: center;
}

.cardText {
  color: #fff;
}
/* Roddies CSS */

/* .wrapper{
    width: 100%;
    height: 100%;
}

.title{
    font-size: 4rem;
    display: block;
    margin: 0 auto;
    width: 25%;
}  */

/* .landingCard{
    width: 70%;
    height: 65%;
    display: none;
    margin: 3rem auto 0 auto;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 25px;
}   */


/*
.text{
    font-size: 2rem;
    font-family: "Gudea", sans-serif;
    width: 70%;
    height: 40%;
    display: block;
    margin: 0 auto;
}

.enterbtn{
    width: 25%;
    height: 11%;
    border: 2px solid white;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 5rem;
}

.enterbtn:hover{
    background-color: white;
    transition: 1.5s;
    color: lightblue;
}

.enterbtn:hover h3 {
    color: lightblue;
    transition: 1s;
}

.enter{
    font-size: 1.3rem;
    text-align: center;
}

.anchor{
    text-decoration: none;
    color: white;
} */

.footer{
    color: white;
    position: absolute;
    bottom: 0;
    right: 25px;
}
